*,*::before,*::after{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color:#06d6a0;
}
#container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  height: 40vh;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,.5);
  background-color:#b7b7a4;
  border-radius: 100vw;
}
@media (max-width: 650px) {
  #container {
    height: 40vh;
    width: 80vw;
  }
}

#button {
  color: black;
  background-color: white;
  border: none;
  outline: none;
  height: 50px;
  width: 100px;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px;
  transition: .2s;

  &:hover {
  cursor: pointer;
 }
 &:active {
  transition: .2s;
  box-shadow: 5px 5px;
 }
}

